{%- if title %}
$title {{ title }}
{%- endif %}
$ontext
{%- if title %}
Title: {{ title }}
{%- endif %}
Author: {{ author if author else 'Joel Goop' }}
{%- if description is defined %}

{{ description}}
{%- endif %}
$offtext
{%- import "macros_gms.j2" as macros %}

{{ macros.section_title("set definitions")}}
* Sets
{{ macros.render_definitions("sets",sets.values()|selectattr("indices", "none")) }}
* Aliases
{{ macros.render_aliases(aliases.values()) }}
* Subsets
{{ macros.render_definitions("sets",sets.values()|rejectattr("indices", "none")) }}


{{ macros.section_title("parameter definitions")}}
{{ macros.render_definitions("parameters",parameters.values())}}

{{ macros.section_title("load gdx data")}}
$onundf
$gdxin '{{ gdx_in|replace('/','\\') }}'
* Load sets
$load {{ sets.values()|selectattr("indices", "none")|join(',',attribute='no_indices') }}
* Load subsets
$load {{ sets.values()|rejectattr("indices", "none")|join(',',attribute='no_indices') }}
* Load parameters
$load {{ parameters.values()|join(',',attribute='no_indices') }}
$gdxin
$offundf

{{ macros.section_title("variable definitions")}}
{{ macros.render_variable_defs(variables)}}

{{ macros.section_title("variable limits")}}
{{ macros.render_variable_lims(variables)}}

{{ macros.section_title("equation definitions")}}
{{ macros.render_definitions("equations",equations.values())}}

{{ macros.section_title("model equations") }}
{{ macros.render_equations(equations) }}

{% block model_def %}MODEL {{ name }} / all /;{% endblock %}

{% for op,val in options.items() -%}
{{ name }}.{{ op }} = {{ val }};
{% endfor %}

{% block solve %}SOLVE {{ name }} using {{ type }} {% if maximize %}maximizing{% else %}minimizing{% endif %} {{ obj_var.name }};{% endblock %}

{% if gdx_out -%}
EXECUTE_UNLOAD '{{ gdx_out|replace('/','\\') }}';
{%- endif %}