{%- if title is defined -%}
$title {{ title }}
{% endif %}
$ontext
{%- if title is defined %}
Title: {{ title }}
{%- endif %}
Author: {{ author if author is defined else 'Joel Goop' }}
{%- if description is defined %}

{{ description}}
{%- endif %}
$offtext
{%- from "macros_gms.j2" import section_title,render_definitions,render_equations,render_variable_defs %}

{{ section_title("set definitions")}}
* Sets
{{ render_definitions("sets",sets.values()|selectattr("indices", "none")) }}
* Subsets
{{ render_definitions("sets",sets.values()|rejectattr("indices", "none")) }}

{{ section_title("parameter definitions")}}
{{ render_definitions("parameters",parameters.values())}}

{{ section_title("load gdx data")}}
$onundf
$gdxin '{{ gdx_in|replace('/','\\') }}'
* Load sets
$load {{ sets.values()|selectattr("indices", "none")|join(',',attribute='no_indices') }}
* Load subsets
$load {{ sets.values()|rejectattr("indices", "none")|join(',',attribute='no_indices') }}
* Load parameters
$load {{ parameters.values()|join(',',attribute='no_indices') }}
$gdxin
$offundf

{{ section_title("variable definitions")}}
{{ render_variable_defs(variables)}}

{{ section_title("equation definitions")}}
{{ render_definitions("equations",equations.values())}}

{{ section_title("model equations") }}
{{ render_equations(equations) }}

EXECUTE_UNLOAD '{{ gdx_out|replace('/','\\') }}';