{% macro render_definitions(type,items) -%}
{{ type|upper }}
{%- for item in items %}
    {{ item.name }}{% if item.indices %}({{ item.indices|join(',') }}){% endif %}
{%- endfor %}
;
{%- endmacro %}

{% macro section_title(title) -%}
*****************************************
*** {{ title|upper }}
*****************************************
{%- endmacro %}

{% macro render_equations(items) -%}
{%- for item in items %}
{{ item.name }}
{%- if item.indices %}({{ item.indices|join(',') }}){% endif %}..
    {{ item|string }};
{%- endfor %}
{%- endmacro %}